<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResult="false"
>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml" />
            <html outputDirectory="build/logs/coverage" />
            <text outputFile="build/logs/coverage.txt" />
        </report>
    </coverage>
    <php>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF" />
        <env name="REDIS_HOST" value="127.0.0.1" />
        <env name="REDIS_PORT" value="6379" />
    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
