name: phpunit

on: [ push ]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: true
            matrix:
                php: [ "8.0", "8.1", "8.2" ]
                laravel: [ "6.0", "7.0", "8.0", "9.0", "10.0" ]
                exclude:
                    -   laravel: "6.0"
                        php: "8.1"

                    -   laravel: "6.0"
                        php: "8.2"

                    -   laravel: "7.0"
                        php: "8.1"

                    -   laravel: "7.0"
                        php: "8.2"

                    -   laravel: "9.0"
                        php: "7.4"

                    -   laravel: "10.0"
                        php: "7.4"

                    -   laravel: "10.0"
                        php: "8.0"

        name: PHP ${{ matrix.php }}, Laravel ${{ matrix.laravel }}

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Setup Redis
                uses: zhulik/redis-action@1.1.0

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: curl, mbstring, zip, pcntl, pdo, pdo_sqlite, iconv
                    coverage: none

            -   name: Install dependencies
                run: composer require --dev laravel/framework:^${{ matrix.laravel }}

            -   name: Execute tests
                run: sudo vendor/bin/phpunit
